.scheduleList {
    list-style-type: none;
    padding: 0;
    margin: 0;
    border: 1px solid #ccc;
  }

  .scheduleList ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap; 
    justify-content: center; 
  }
  
  .scheduleList ul li {
    background-color: #c3cfd9;
    border: 1px solid #ddd;
    padding: 10px;
    margin: 10px;
    width: calc(33.33% - 20px); 
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .scheduleList ul li:hover {
    background-color: #f0f0f0; 
  }
  
  .scheduleList ul li.selected {
    background-color: #4b5c6b; 
    color: white;
  }
  
  .h2 {
    text-align: center;
    font-size: 24px; 
    color: #222d36; 
    background-color: #f9f9f9; 
    padding: 10px; 
    border-radius: 5px; 
    margin-bottom: 20px; 
    list-style-type: none;
    
  }
  .buttonContainer {
    display: flex;
    position: fixed;
    bottom: 6%;
    left: 42%;
    z-index: auto;
    justify-content: space-between;
  }

  .navButton {
    background-color: #54738f;
    color: #e6dfdf;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  }
  
  .navButton:hover {
    background-color: #4b5c6b; 
  }
 
  @media (max-width: 768px) {

    .buttonContainer {
        bottom: 3%;
        left: 0;
        right: 0;
        justify-content: center;
    }
}