  
  .buttonContainer {
    display: flex;
    position: fixed;
    bottom: 6%;
    left: 42%;
    z-index: auto;
    justify-content: space-between;
  }

  .navButton {
    background-color: #54738f;
    color: #e6dfdf;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  }
  
  .navButton:hover {
    background-color: #4b5c6b; 
  }
 
  @media (max-width: 768px) {

    .buttonContainer {
        bottom: 3%;
        left: 0;
        right: 0;
        justify-content: center;
    }
}