.container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc; /* Agregar un borde sólido de 1px con color gris claro */
}

.progress-bar {
  height: 20px;
  background-color: #ddd;
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 20px;
  position: fixed; /* Fija la barra de progreso en la parte superior */
  top: 20px; /* Alinea la barra de progreso 20px debajo del borde superior */
  width: calc(100% - 40px); /* Establece el ancho al 100% menos el margen izquierdo y derecho */
  left: 50%; /* Centra horizontalmente la barra de progreso */
  transform: translateX(-50%); /* Corrige la posición para centrarla */
}

.progress-bar-filled {
  height: 100%;
  background-color: #4caf50;
  transition: width 0.5s ease;
}

.progress-bar-filled.step-1 {
  width: 25%;
}

.progress-bar-filled.step-2 {
  width: 50%;
}

.progress-bar-filled.step-3 {
  width: 75%;
}
.progress-bar-filled.step-4 {
  width: 100%;
}

.next-button-container {
  position: fixed; /* Fija el contenedor de los botones en la parte superior */
  bottom: 20px; /* Ajusta la posición vertical */
  width: 100%; /* Establece la anchura al 100% */
  display: flex; /* Usa flexbox para alinear los botones */
  justify-content: space-between; /* Alinea los botones al espacio entre ellos */
}

.next-button {
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.next-button:hover {
  background-color: #45a049;
}